@import '../../config';

.homepage {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  padding-bottom: 100px;
  background-color: #444d636b;
  background-image: linear-gradient(180deg, #d6d6d6, #444d63);

  &__heading {
    text-align: center;
    margin: 10px 0 20px;
    color: $black;
    font-family: 'Roboto', sans-serif;
  }

  &__todos {
    width: 450px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

@media screen and (max-width: 450px) {
  .homepage {
    &__todos {
      width: 315px;
    }
  }
}
