@import '../../config';

.header {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;

  &__logo {
    width: 15rem;
    margin-left: 100px;
    object-fit: contain;
  }
  &__btn-wrapper {
    display: flex;
    margin-right: 100px;
    width: 10rem;
  }

  &__icon-wrapper {
    font-size: 50px;
    display: none;
    cursor: pointer;
  }
  &__dropdown {
    width: 200px;
    height: 100px;
    background-color: rgb(184, 184, 184);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.808);
    border-radius: 4px;
    position: absolute;
    right: 10px;
    top: 100px;
    opacity: 0;

    &--open {
      opacity: 1;
    }
  }
}

@media screen and (max-width: 768px) {
  .header {
    &__logo {
      margin-left: 50px;
    }

    &__btn-wrapper {
      margin-right: 50px;
    }

    &__menu-icon {
      cursor: pointer;
    }
  }
}

@media screen and (max-width: 600px) {
  .header {
    &__logo {
      width: 10rem;
      margin-left: 20px;
    }

    &__btn-wrapper {
      display: none;
    }

    &__icon-wrapper {
      margin-right: 20px;
      display: inline-block;
    }
  }
}
